extend layout.jade

block navbar
  - var path ='index.html'
  include partials/navbar.jade
  

block content
  h1 #{menu.list[1].name}

  hr

  h1 
    span head1  
    | another head
  ul
    li
      a(href="#") link
    li
      a(href="#") link
    li
      a(href="#") link
  br
  h1: a(href="#"): span 連結 
  .container
    form(action="")
      label(for="email") 請輸入email
      input#email.form-control.input-md(type="text")