extend layout.jade

block navbar
  - var path ='list.html'
  include partials/navbar.jade
  

block content
  .row.row-cols-1.row-cols-md-3.g-4
    each item in khData.data.XML_Head.Infos.Info
      .col
        .card
          img.card-img-top(src='#{item.Picture1}' alt='...')
          .card-body
            h5.card-title #{item.Name}
            p.card-text
              | #{item.Description}